<h1>For The People</h1>
<p>
  For The People aims to create transparency in the United States government by holding all elected officials in America accountable for representing the people they serve. 
</p>
<p>
  <%= link_to "Sign Up", new_user_path %> now to receive a weekly update on what your Members of Congress in both House and Senate have accomplished over the past week. This will include each Member's Bills proposed and Voting positions.
</p>

